<div class="main-container">
  <div class="content-container">
      <nav class="sidenav">
          <section class="sidenav-content">
              <a routerLink="/" class="nav-link">
                <label>TERRA</label>
              </a>
              <a href="..." class="nav-link">
                  Acciones
              </a>
              <section class="nav-group collapsible" routerLinkActive="active">
                  <input id="cadastros" type="checkbox" checked>
                  <label for="cadastros">Registrar</label>
                  <ul class="nav-list">
                      <li><a class="nav-link" routerLink="cadastros/clientes">Clientes</a></li>
                      <li><a class="nav-link">Lotes</a></li>
                      <li><a class="nav-link">Loteamientos</a></li>
                      <li><a class="nav-link">Propietarios</a></li>
                  </ul>
              </section>
              <!-- <section class="nav-group">
                  <input id="tabexample2" type="checkbox">
                  <label for="tabexample2">Default Nav Element</label>
                  <ul class="nav-list">
                      <li><a class="nav-link">Link 1</a></li>
                      <li><a class="nav-link">Link 2</a></li>
                      <li><a class="nav-link active">Link 3</a></li>
                      <li><a class="nav-link">Link 4</a></li>
                      <li><a class="nav-link">Link 5</a></li>
                      <li><a class="nav-link">Link 6</a></li>
                  </ul>
              </section> -->
          </section>
      </nav>
      <div class="content-area" style="padding: 0rem;">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>
