<app-list titulo="Clientes" [columnList]="columnas" resources="clientes" [fieldList]="campos" (rowClicked)="onRowClicked($event)"></app-list>

<app-form [opened]="opened" [entity]="selectedCliente" (dataChange)="onDataChange($event)" (statusChange)="onStatusChange($event)">
  <ng-template #formTemplate let-entity>
    <form clrForm class="clr-form-compact">
      <div class="clr-form-control clr-row">
        <clr-input-container class="clr-col-12 clr-col-md-4">
          <label for="nombre" class="clr-col-12">Nombre</label>
          <input id="nombre" class="clr-col-12" clrInput type="text" [(ngModel)]="entity.nombre"
            #nombre="ngModel" name="nombre" [disabled]="!editable" />
        </clr-input-container>
        <clr-input-container class="clr-col-12 clr-col-md-4">
          <label for="apellido" class="clr-col-12">Apellido</label>
          <input id="apellido" class="clr-col-12" clrInput type="text" [(ngModel)]="entity.apellido"
            #apellido="ngModel" name="apellido" [disabled]="!editable" />
        </clr-input-container>
        <clr-input-container class="clr-col-12 clr-col-md-4">
          <label for="ci" class="clr-col-12">CI</label>
          <input id="ci" class="clr-col-12" clrInput type="text" [(ngModel)]="entity.ci" #ci="ngModel"
            name="ci" [disabled]="!editable" />
        </clr-input-container>
      </div>
      <div class="clr-form-control clr-row">
        <clr-input-container class="clr-col-12 clr-col-md-4">
          <label for="telefono" class="clr-col-12">Teléfono 1</label>
          <input id="telefono" class="clr-col-12" clrInput type="text" [(ngModel)]="entity.telefono"
            #telefono="ngModel" name="telefono" [disabled]="!editable" />
        </clr-input-container>
        <clr-input-container class="clr-col-12 clr-col-md-4">
          <label for="telefono2" class="clr-col-12">Teléfono 2</label>
          <input id="telefono2" class="clr-col-12" clrInput type="text" [(ngModel)]="entity.telefono2"
            #telefono2="ngModel" name="telefono2" [disabled]="!editable" />
        </clr-input-container>
        <clr-input-container class="clr-col-12 clr-col-md-4">
          <label for="fecNac" class="clr-col-12">Nascimiento</label>
          <input id="fecNac" class="clr-col-12" clrInput type="text" [(ngModel)]="entity.fecNac"
            #fecNac="ngModel" name="fecNac" [disabled]="!editable" />
        </clr-input-container>
      </div>
      <div class="clr-form-control clr-row">
        <clr-input-container class="clr-col-12 clr-col-md-4">
          <label for="email" class="clr-col-12">Email</label>
          <input id="email" class="clr-col-12" clrInput type="text" [(ngModel)]="entity.email" #email="ngModel"
            name="email" [disabled]="!editable" />
        </clr-input-container>
        <clr-input-container class="clr-col-12 clr-col-md-4">
          <label for="direccion" class="clr-col-12">Dirección</label>
          <input id="direccion" class="clr-col-12" clrInput type="text" [(ngModel)]="entity.direccion"
            #direccion="ngModel" name="direccion" [disabled]="!editable" />
        </clr-input-container>
        <clr-input-container class="clr-col-12 clr-col-md-4">
          <label for="ciudad" class="clr-col-12">Ciudad</label>
          <input id="ciudad" class="clr-col-12" clrInput type="text" [(ngModel)]="entity.ciudad"
            #ciudad="ngModel" name="ciudad" [disabled]="!editable" />
        </clr-input-container>

      </div>
    </form>
  </ng-template>
</app-form>



