<div>
  <header class="header-6">
    <div class="branding" routerLink="/" style="display: flex;align-items: center;">
        <label>CLIENTES</label>
    </div>
    <!-- <div class="header-nav">
        <a routerLink="/cadastros" class="nav-link nav-text" routerLinkActive="active">Registrar</a>
        <a routerLink="/acciones" class="nav-link nav-text" routerLinkActive="active">Acciones</a>
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div> -->
  </header>
  <p>clientes-list works!</p>
</div>

